// Variable overrides
$primary: var(--primary);
$hover: var(--hover);
$active: var(--active);
$element: var(--element);
$background: var(--background);
$mainColor: var(--primary);
$grey: var(--grey);
$darkGreyText: var(--darkGreyText);
$greyText: var(--greyText);
$lightGrey: var(--lightGrey);
$lightBlue: var(--lightBlue);
$primaryFont: var(--primaryFont);
$cardBg: var(--cardBg);
$lightGreen: var(--lightGreen);
$lightRed: var(--lightRed);
$lightestGrey: var(--lightestGrey);
$lightBlue2: var(--lightBlue_2);
